<!doctype>
<html>
<head>
	<title>Layout Page</title>
</head>
	
<body>
	<header>
		<a href="/"><img src="/wind.png"></a> 
		Library
	</header>
	
	<div>
	{{{body}}}
	</div>
	
	<footer>
		<small>2017 by Chris Sanders, All Rights Reserved</small>
	</footer>
	
</body>
	
<style>
	header {
		background-color: #081046;
		font-size: 4em;
		color: aquamarine;
	}
	img {
		max-height: 2em;
		padding-right: 2em;
	}	
	div {
		padding: 3em;
	}
	footer {
		background-color: #081046;
		color: aquamarine;
	}
</style>
	
</html>