<!doctype>
<html>
<head>
	<title>Layout Page</title>
</head>
	
<body>
	<header>
		<a href="/"><img src="/wind.png"></a> 
		<span>Library</span>
	</header>
	
	<div>
	{{{body}}}
	</div>
	
	<footer>
		<small>2017 by Chris Sanders, All Rights Reserved</small>
	</footer>
	
</body>
	
<style>
	html{
		font-family: sans-serif;
	}
	header {
		background-color: #081046;
		font-size: 5em;
		color: #aaddff;
	}
	
	img {
		max-height: 2em;
		padding-right: 2em;
	}	
	div {
		padding: 3em;
	}
	footer {
		background-color: #081046;
		color: #aaddff;
	}
</style>
	
</html>