<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Home</title>
</head>

<body>
<p>This is the home page.</p>
    
    <form method="get" action="/get">
        <input type="text" name="title" placeholder="enter book title" />
        <input type="submit" value="search" />
    </form>
    
    <form method="get" action="/add">
        <input type="text" name="title" placeholder="enter new book title" />
        <input type="submit" value="add" />
    </form>
    
</body>
</html>